/* Gruvbox Dark Hard Palette */
@define-color bg-hard alpha(#1d2021, 0.96);
@define-color bg-1 #3c3836;
@define-color fg #ebdbb2;
@define-color fg-dark #a89984;

/* Gruvbox Accents */
@define-color gruv-red #cc241d;
@define-color gruv-red2 #fb4934;
@define-color gruv-green #b8bb26;
@define-color gruv-yellow #fabd2f;
@define-color gruv-aqua #8ec07c;
@define-color gruv-blue #83a598;
@define-color gruv-pink #d3869b;
@define-color gruv-aqua2 #689d6a;
@define-color gruv-blue2 #458588;
@define-color gruv-pink2 #b16286;

/* Active Theme Colors */
@define-color highlight @gruv-yellow;

* {
  font-family: "AdwaitaMono Nerd Font";
  font-size: 13px;
}

window#waybar {
  background-color: @bg-hard;
  color: @fg;
}

#workspaces button {
  padding: 4px 10px;
  margin: 4px 0px 4px 7px;
  background: transparent;
  border-radius: 6px;
  color: @fg;
}

#workspaces button.persistent {
  color: @fg;
}


#workspaces button.empty {
  color: @fg-dark;
}

#workspaces button.active,
#workspaces button.active.empty {
  background: @highlight;
  color: @bg-hard;
  font-weight: 700;
}

#battery,
#stats,
#cpu,
#memory,
#clock,
#language {
  border-radius: 6px;
  padding: 4px 8px;
  background: @bg-1;
  margin: 4px 10px 4px 0px;
}

#battery {
  padding: 4px 4px 4px 8px;
}

#clock {
  box-shadow: inset 0 -3px @gruv-red2;
}

#cpu,
#memory {
  box-shadow: inset 0 -3px @gruv-pink2;
}

#battery,
#stats,
#language {
  box-shadow: inset 0 -3px @gruv-blue2;
}

#battery.warning:not(.charging) {
  color: @gruv-yellow;
  animation-name: blinking;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Critical State (Red text animation) */
#battery.critical:not(.charging) {
  color: @gruv-red ;
  animation-name: blinking;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blinking {
  to {
    color: @fg;
  }
}

#pulseaudio,
#backlight,
#network,
#bluetooth {
  padding: 0px 6px;
}

#network {
  padding-right: 14px;
}

#custom-arch {
  border-radius: 4px;
  padding: 4px 12px 4px 9px;
  background: @bg-1;
  margin: 4px 6px;
  color: @gruv-blue;
  font-size: 18px;
}

#workspaces button.urgent {
  background: @gruv-red;
  color: @fg;
}

#misc-expander {
  border-radius: 16px 2px 2px 16px;
  padding: 4px 10px;
  background: @bg-1;
  margin: 4px 6px 4px 0px;
  box-shadow: inset 0 -3px @gruv-aqua2;
}

#power-profiles-daemon {
  padding: 0px 8px;
}

#tray {
  padding: 0 6px;
}

#power-profiles-daemon.performance {
  color: @gruv-red;
}

#power-profiles-daemon.balanced {
  color: @gruv-blue;
}

#power-profiles-daemon.power-saver {
  color: @gruv-aqua;
}

tooltip {
  background: @bg-hard;
  border-radius: 6px;
}

tooltip label {
  color: @fg;
}
