@theme "./themes/gruvbox-dark-hard.rasi"

configuration {
    show-icons:      true;
    icon-theme:      "Papirus-Dark";
    display-drun:    "";
    disable-history: false;
    font: "JetBrainsMono Nerd Font 11";
}

#window {
    border-radius:    8;
    border-color:   #8ec07c;
}
